@model IEnumerable<ServiceDataViewModel>
@{
    ViewData["Title"] = "Список услуг";
}

<p class="fs-1 row justify-content-center">Список всех услуг</p>
@if (User.IsInRole("admin"))
{
    <div class="pb-3">
        <a class="btn btn-success shadow-none fs-5" asp-action="Create">+</a>
    </div>
}
@for (int i = 0; i < Math.Ceiling(Model.Count() / 3f); i++)
{
    <div class="row pb-3">
    @{int rowCount = 0;}
    @for (int j = i * 3; j < Model.Count() && rowCount < 3; j++)
    {
        <div class="col-auto" style="max-width: 33%;">
            @if (Model.ElementAt(j).ImageData is not null && Model.ElementAt(j).ImageData.Length > 0)
            {
                <div>
                    <img alt="Картинка слуги" style="height: 300px" class="img-thumbnail img-fluid"
                        src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ElementAt(j).ImageData))" />
                </div>
            }
            <figcaption>
                @Model.ElementAt(j).Name
            </figcaption>
            @if (User.IsInRole("admin"))
            {
                <div class="row justify-content-center pt-1">
                    <form class="col-auto" asp-action="Delete" asp-route-id="@Model.ElementAt(j).Id" method="post">
                            <a class="btn btn-dark shadow-none col-auto" asp-action="Edit" asp-route-id="@Model.ElementAt(j).Id">Редактировать</a>
                        <button type="submit" class="btn btn-danger shadow-none">Удалить</button>
                    </form>
                </div>
            }
            @{
                rowCount++;
            }
        </div>
    }
    </div>
}
<div class="d-flex justify-content-center pb-3">
    @{
        int previousPage;
        int nextPage;
    }
    @if (PageModel.PageNumber > 1)
    {
        <div class="pe-1">
            <a class="btn btn-dark shadow-none" asp-action="Index" asp-route-pageNumber="1">1</a>
            @{
                previousPage = PageModel.PageNumber - 1;
            }
            <a class="btn btn-dark shadow-none" asp-action="Index" asp-route-pageNumber="@previousPage">
                &lt;
            </a>
        </div>
    }
    @if (PageModel.NextPage)
    {
        {
            nextPage = PageModel.PageNumber + 1;
        }
        <a class="btn btn-dark shadow-none" asp-action="Index" asp-route-pageNumber="@nextPage">
            >
        </a>
    }
</div>