@model FeedbackListViewModel
@{
    ViewData["Title"] = "Отзывы";
}

<p class="fs-1 row justify-content-center">Отзывы</p>

<div class="container w-75">
@if (User.Identity.IsAuthenticated)
{
    <form asp-action="Create" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="NewFeedback.UserId" />
        <input type="hidden" asp-for="NewFeedback.DateTime" />
        <div class="form-group row pb-2 px-3">
            <label asp-for="NewFeedback.Message" class="col-sm-5 col-form-label"></label>
            <textarea type="text" asp-for="NewFeedback.Message" required class="form-control shadow-none" rows="5"></textarea>
        </div>
        <div class="d-flex justify-content-end">
            <input type="submit" value="Оставить отзыв" class="btn btn-dark shadow-none" />
        </div>
    </form>
}
else
{
    <p class="fs-3">Войдите в учётную запись, чтобы оставить отзыв</p>
}
@for (int i = 0; i < Model.Feedbacks.Count(); i++)
{
    <div class="border rounded border-dark py-2 px-3 my-3 bg-light bg-gradient">
        <div class="row ps-4" style="max-width: 350px">
            <div class="col-auto">
                @Model.Feedbacks.ElementAt(i).UserName
            </div>
            <div class="col-auto">
                @Model.Feedbacks.ElementAt(i).DateTime.ToLongDateString() @Model.Feedbacks.ElementAt(i).DateTime.ToShortTimeString()
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                @if (Model.Feedbacks.ElementAt(i).PhotoData is not null && Model.Feedbacks.ElementAt(i).PhotoData.Length > 0)
                {
                    <img alt="Фото" style="height: 150px" class="img-thumbnail img-fluid"
                         src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Feedbacks.ElementAt(i).PhotoData))" />
                }
            </div>
            <div class="col-auto">
                @Model.Feedbacks.ElementAt(i).Message
            </div>
            @if (Model.Feedbacks.ElementAt(i).UserId == Model.UserId || User.IsInRole("admin"))
            {
                <form class="d-flex justify-content-end" asp-action="Delete" asp-route-id="@Model.Feedbacks.ElementAt(i).Id" method="post">
                    <button type="submit" class="btn btn-danger shadow-none">Удалить</button>
                </form>
            }
        </div>
    </div>
}
</div>

<div class="d-flex justify-content-center pb-3">
    @{
        int previousPage;
        int nextPage;
    }
    @if (PageViewModel.PageNumber > 1)
    {
        <div class="pe-1">
            <a class="btn btn-dark shadow-none" asp-action="Index" asp-route-pageNumber="1">1</a>
            @{
                previousPage = PageViewModel.PageNumber - 1;
            }
            <a class="btn btn-dark shadow-none" asp-action="Index" asp-route-pageNumber="@previousPage">
                &lt;
            </a>
        </div>
    }
    @if (PageViewModel.NextPage)
    {
        {
            nextPage = PageViewModel.PageNumber + 1;
        }
        <a class="btn btn-dark shadow-none" asp-action="Index" asp-route-pageNumber="@nextPage">
            >
        </a>
    }
</div>