@model ServiceListViewModel
@{
    ViewData["Title"] = "Подробности об услуге";
}

<p class="fs-1 row d-flex justify-content-center">Подробности об услуге @Model.ServiceName</p>
<img alt="Картинка услуги" style="height: 300px" class="img-thumbnail img-fluid"
        src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.ServiceImageData))" />
<div class="table-responsive row">
    <div class="col-md-auto">
        <a class="btn btn-success shadow-none fs-5" asp-action="Create"
            asp-route-serviceDataId="@Model.ServiceDataId">+</a>
    </div>
    <div class="col-md-11">
        <table class="table align-middle table-bordered table-striped table-hover">
            <thead class="bg-dark text-center">
                <tr>
                    <th class="text-white">Тип техники</th>
                    <th class="text-white">Марка автомобиля</th>
                    <th class="text-white">Цена, BYN</th>
                    <th class="text-white">Цена с учётом скидки, BYN</th>
                    <th class="text-white">Примерное время ремонта, мин</th>
                    @if (User.IsInRole("admin") || User.IsInRole("manager"))
                    {
                        <th class="text-white">Управление</th>
                    }
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var service in Model.Services)
                {
                    <tr>
                        <td>@service.CarTypeName</td>
                        <td>@service.CarBrandName</td>
                        <td>@service.Price.ToString("#.##")</td>
                        @if (service.NewPrice is not null)
                        {
                            var newPrice = (decimal)service.NewPrice;
                            <td>@newPrice.ToString("#.##")</td>
                        }
                        else
                        {
                            <td>В данный момент на эту услугу нет скидок</td>
                        }

                        <td>@service.MinutesSpent</td>
                        @if (User.IsInRole("admin") || User.IsInRole("manager"))
                        {
                            <td>
                                <form asp-action="Delete" asp-route-id="@service.Id"
                                    asp-route-serviceDataId="@Model.ServiceDataId" method="post">
                                    <a class="btn btn-dark shadow-none" asp-action="Edit" asp-route-id="@service.Id">Редактировать</a>
                                    <button type="submit" class="btn btn-danger shadow-none">Удалить</button>
                                </form>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>