@model IEnumerable<ServiceViewModel>
@{
    ViewData["Title"] = "Услуги";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.ImageData is not null && item.ImageData.Length > 0)
                {
                    <img alt="Моё фото" class="img-thumbnail img-fluid" src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImageData))" />
                }
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">edit</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    int previousPage;
    int nextPage;
}
@if (PageModel.PageNumber > 1)
{
    <a class="btn btn-primary" asp-action="Index" asp-route-pageNumber="1">1</a>
    {
        previousPage = PageModel.PageNumber - 1;
    }
    <a class="btn btn-primary" asp-action="Index" asp-route-pageNumber="@previousPage">
        &lt;
    </a>
}
@if (PageModel.NextPage)
{
    {
        nextPage = PageModel.PageNumber + 1;
    }
    <a class="btn btn-primary" asp-action="Index" asp-route-pageNumber="@nextPage">
        >
    </a>
}