@model IEnumerable<User>
@{
    ViewData["Title"] = "Пользователи";
}
<p class="fs-1 row d-flex justify-content-center">Управление пользователями</p>
<div class="table-responsive row">
    <div class="col-md-auto">
        <a class="btn btn-success shadow-none fs-5" asp-action="Create">+</a>
    </div>
    <div class="col-md-11">
        <table class="table align-middle table-bordered table-striped table-hover">
            <thead class="bg-dark text-center">
                <tr>
                    <th class="text-white">@Html.DisplayNameFor(model => model.Email)</th>
                    <th class="text-white">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                    <th class="text-white">@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th class="text-white">@Html.DisplayNameFor(model => model.Surname)</th>
                    <th class="text-white">Управление</th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.FirstName</td>
                        <td>@user.Surname</td>
                        <td>
                            <a class="btn btn-dark shadow-none" asp-action="Edit" asp-route-id="@user.Id">Редактировать</a>
                            <a class="btn btn-dark shadow-none" asp-action="EditRoles" asp-route-userid="@user.Id">Права доступа</a>
                            <a class="btn btn-dark shadow-none" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                            <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                <button type="submit" class="btn btn-danger shadow-none">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            int previousPage;
            int nextPage;
        }
        @if (PageModel.PageNumber > 1)
        {
            <a class="btn btn-dark shadow-none" asp-action="Index" asp-route-pageNumber="1">1</a>
            {
                previousPage = PageModel.PageNumber - 1;
            }
            <a class="btn btn-dark shadow-none" asp-action="Index" asp-route-pageNumber="@previousPage">
                &lt;
            </a>
        }
        @if (PageModel.NextPage)
        {
            {
                nextPage = PageModel.PageNumber + 1;
            }
            <a class="btn btn-dark shadow-none" asp-action="Index" asp-route-pageNumber="@nextPage">
                >
            </a>
        }
    </div>
</div>