@model AccountViewModel
@{
    ViewData["Title"] = "Личный кабинет";
}

<p class="fs-1 row pb-3 justify-content-center">Личный кабинет</p>

<div class="row d-flex">
    <div class="col-6 border rounded border-dark py-3 px-3 bg-light bg-gradient" style="max-width: 35%">
        @{
            if (Model.Photo is not null && Model.Photo.Length != 0)
            {
                <div class="pb-3">
                    <img alt="Моё фото" class="img-thumbnail img-fluid" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Photo))" />
                </div>
            }
        }
        <dl class="row">
            <dt class="col-sm-4 pe-1">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-4 pe-1">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-4 pe-1">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-4 pe-1">
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Surname)
            </dd>
        </dl>
        <div class="text-center">
            <a class="btn btn-dark shadow-none" asp-action="Edit" asp-route-id="@Model.Id">Редактировать профиль</a>
            <a class="btn btn-dark shadow-none" asp-controller="Account" asp-action="ChangePassword" asp-route-id="@Model.Id">Сменить пароль</a>
        </div>
    </div>
    @if (Model.Promocodes is not null && Model.Promocodes.Any())
    {
        <div class="col-6">
            <p class="fs-4 row pb-3 justify-content-center">Мои промокоды</p>
            <div class="table-responsive">
                <table class="table align-middle table-bordered table-striped table-hover">
                    <thead class="bg-dark text-center">
                        <tr class="text-white">
                            <th>@Html.DisplayNameFor(model => model.Promocodes.FirstOrDefault().Text)</th>
                            <th>@Html.DisplayNameFor(model => model.Promocodes.FirstOrDefault().Percent)</th>
                            <th>@Html.DisplayNameFor(model => model.Promocodes.FirstOrDefault().DateEnd)</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @foreach (var promocode in Model.Promocodes)
                        {
                            <tr>
                                <td>@promocode.Text</td>
                                <td>@promocode.Percent</td>
                                <td>@promocode.DateEnd.ToLongDateString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (Model.Appointments is not null && Model.Appointments.Any())
    {
        <div>
            <p class="fs-4 row pb-3 justify-content-center">Мои записи</p>
            <div class="table-responsive">
                <table class="table align-middle table-bordered table-striped table-hover">
                    <thead class="bg-dark text-center">
                        <tr class="text-white">
                            <th>@Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().ServiceData)</th>
                            <th>@Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().DateTimeStart)</th>
                            <th>@Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().DateTimeEnd)</th>
                            <th>@Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().Message)</th>
                            <th>@Html.DisplayNameFor(model => model.Appointments.FirstOrDefault().WasFinished)</th>
                            <th>Управление</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @foreach (var appointment in Model.Appointments)
                        {
                            <tr>
                                <td>@appointment.ServiceData</td>
                                <td>@appointment.DateTimeStart</td>
                                <td>@appointment.DateTimeEnd</td>
                                <td>@appointment.Message</td>
                                <td><input type="checkbox" asp-for="@appointment.WasFinished" disabled></td>
                                <td>
                                    @if (!@appointment.WasFinished)
                                    {
                                        <form asp-controller="Appointment" asp-action="DeleteForUser" asp-route-id="@appointment.Id" method="post">
                                            <button type="submit" class="btn btn-danger shadow-none">Отменить</button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>